/* Selector de tipo */

h1{
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 32px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

form {
    padding: 30px;
}

label {
    font-size: large;
    margin-right: 10px;
}

header {
} 

main {
} 

footer {
    text-align: center;
    padding: 10px;
}

section {
    text-align: center;
    padding: 20px;
}


aside {
    padding: 15px;
    width: 250px;
} 

body {
    background-color: #FEF3E2;
}

a{
    margin-left: 20px;
    padding: 20px;
}

table {
    width: 100%;
}

nav{
    background-color: aqua;
    padding: 10px;
}

/* Selector de clase */
.resaltado {
    background-color: yellow;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.equipos {
    border: none;
    padding: 10px;
}

.enlacesdenavegacion {
    border: none;
}

.main {
    border: none;
}

.clubes {
    text-align: center;
    border: none;
}

.tabla-comp{
    text-align: center;
    border: none;
}

.idolos{
    width: 250px;
}
/* Seleccionador de ID */
#titulo {
    font-size: 2em;
    text-align: center;
}

#riverplate {
    color: black;
}

#copas {
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
}

#estadios {
    border: none;
}

/* Seleccionador de atributo */


input[type="text"] {
    width: 300px;
}

input[type="password"] {
    width: 300px;
}

input[type="email"] {
    width: 300px;
}