
/* Selector de tipo */

h2 {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

form {
    background-color: coral;
    padding: 30px;
}

label {
    font-size: large;
    margin-right: 10px;
}

header{
    border: 2px solid black;
}

main {
    border: 2px solid blue;
}

footer {
    border: 2px solid blue;
}

section {
    border: 2px solid red;
}

article{
    border: 2px solid black;
}

aside {
    border: 5px solid gray;
    padding: 30px;
    width: 300px;
    margin-left: 1200px;
}

/* Selector de clase */
.resaltado {
    background-color: yellow;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Seleccionador de ID */
#titulo {
    font-size: 2em;
    text-align: center;
}

#riverplate {
    color: black;
}

/* Seleccionador de atributo */
input[type="text"] {
    border: 2px solid red;
}

input[type="text"] {
    border: 2px solid black;
} 

